<!DOCTYPE html>
<html>
<head>
	<title>Recharge Success</title>
	<style type="text/css">
		.ack{
			width: 250px;
		}
		.head{
			border-top: 1px solid #333;
		}
	</style>
</head>
<body>
<div class="ack">
	<h4 style="text-align: center;">Orange County</h4>
	<h5><pre>GH-4, Ahinsa Khand-1, Indirapuram, Ghaziabad
Phone No: 7428395297,Fax No: 01204188908
Email Id: ocrwa@yahoo.in</pre></h5>
	<div class="head">
		<div class="">
			<p><b>Tower : {}</b></p>
			<p><b>flat : {}</b></p>
		</div>
		<div></div>
	</div>
</div>
</body>
</html>