{% extends 'base.html' %}
{% load getFlat %}
{% load humanize %}


{% block content %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
            {% if not recharge %}
                    <div class="card-header text-center">Recharge History<i class="fas fa-cloud"></i></div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Date</label>
                                <div class="col-md-6">
                                    <input type="date" id="date" class="form-control" name="date" required autofocus>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                    	</div>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                    </form>
                </div>
            {% else %}
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Date & Time</th>
                      <th scope="col">Owner</th>
                      <th scope="col">Tower</th>
                      <th scope="col">Flat</th>
                      <th scope="col">Recharge Type</th>
                      <th scope="col">Recharge Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for r in recharge %}
                        <tr>
                          <th scope="row">{{ r.Recharge_Date }}</th>
                          {% with flat=r.Flat_Pkey|getFlatDetail%}
                              <td>{{ flat.owner }}</td>
                              <td>{{ flat.tower_no|floatformat:0 }}</td>
                              <td>{{ flat.flat_no|floatformat:0 }}</td>
                          {% endwith %}
                          <td>{{ r.Rpt_TYPE }}</td>
                          <td>{{ r.Recharge_Amt|floatformat:0|intcomma }}</td>
                        </tr>
                    {% endfor %}
                        <tr style="border-top: 2px solid #333;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>{{ total|floatformat:0|intcomma }}</strong></td>
                        </tr>
                  </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}